body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr 100px;
    grid-template-areas: 
    "header header header"
    "sidebar main-page main-page"
    "footer footer footer"
    ;
    width: 100%;
    height: 100vh;
}

#main-page {
    grid-area: main-page;
    border: 1px solid black;
}

#header {
    grid-area: header;
    border: 1px solid black;
}

#side-bar {
    grid-area: sidebar;
    border: 1px solid black;
}

#footer {
    grid-area: footer;
    border: 1px solid black;
}